<!DOCTYPE html>
<html>
<head>
    <title>Expired Link</title>
</head>
<body>
    <h1>Expired Link</h1>
    <p>The reset link has expired.</p>
    <a href="/forgotPassword" class="btn btn-primary">Generate New Reset Email</a>
</body>
</html>
