<section class="container">
    <div class="row bg-light login-section">
        <div class="col-4"></div>
        <div class="col-8" style="padding: 50px 20px;">
            <h1>Password Recovery</h1>
            <form action="/api/sessions/forgotPassword" method="post">
                <div class="row">
                    <div class="col-12">
                        <input
                            type="email"
                            class="form-control"
                            placeholder="Your Email"
                            aria-label="Email"
                            name="email"
                        />
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary col-12"
                    >Request Password Reset</button>
                </div>
            </form>
            <div class="row mt-3">
                <div class="col-12">
                    <a href="/login" class="btn btn-link">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
