<div id="productsContainer">

</div>

<!--<h1>Add product</h1>
<form method='post' action="#">
	<input type='text' required id='title' name='title' placeholder='title' />
	<input type='text' required id='description' name='description' placeholder='description' />
	<input type='text' required id='price' name='price' placeholder='price' />
	<input type='text' required id='code' name='code' placeholder='code' />
	<input type='text' required id='stock' name='stock' placeholder='stock' />

	<button type='send' onclick='sendProduct()' >Send</button>
</form>

<h1>Delete product</h1>
<input type='text' id='id' name='id' placeholder='id' />
<button id='send' onclick='deleteProduct()'>Delete</button>-->

<script src='/socket.io/socket.io.js'></script>

<script src='/js/main.js'></script>